<article class="message-preview" data-bulk-actions-target="row">

  <div class="message-preview__avatar avatar" data-controller="selection-state">
    <input type="checkbox" 
      data-bulk-actions-target="checkbox"
      data-action="bulk-actions#update"
      data-topic-id="<%= topic.id %>"
    />
  </div>

  <a class="message-preview__link" href="<%= topic_path(topic) %>">
    <div class="message-preview__content">
      <h3 class="message-preview__subject flush">
          <%= topic.messages.last.subject %>
      </h3>
      <p class="message-preview__summary flush">
        <span class="message-preview__sender">
          <%= topic.messages.last.sender %>
        </span>
        —
        <span class="message-preview__body">
          <%= topic.messages.last.body %>
        </span>
      </p>
    </div>
    <time class="message-preview__time">
      <%= 
        time = topic.messages.last.time_received
        time.today? ? time.strftime("%l:%M%P") : time.strftime("%b %-d")
       %>
    </time>
  </a>
</article>
