<div class="sheet">
  <header class="align--center">
    <h1>Set Aside</h1>
    <p>Everything you’ve marked as Set Aside.</p>
  </header>

  <div class="set-aside"
    data-controller="bulk-actions" 
    data-bulk-actions-selected-class="bulk-selection--active"
  >
    <section class="set-aside__section set-aside__section--top">
      <%= render partial: 'messages/message_preview', 
        collection: @topics["set_aside"],  
        as: 'topic' %>
    </section>

    <section class="set-aside__section set-aside__section--now">
      <h2 class="align--center">Now</h2>
      <%= render partial: 'messages/message_preview', 
        collection: @topics["set_aside--now"],  
        as: 'topic' %>
    </section>

    <section class="set-aside__section set-aside__section--soon">
      <h2 class="align--center">Soon</h2>
      <%= render partial: 'messages/message_preview', 
        collection: @topics["set_aside--soon"],  
        as: 'topic' %>
    </section>

    <section class="set-aside__section set-aside__section--later">
      <h2 class="align--center">Later</h2>
      <%= render partial: 'messages/message_preview', 
        collection: @topics["set_aside--later"],  
        as: 'topic' %>
    </section>

    <section class="set-aside__section set-aside__section--whenever">
      <h2 class="align--center">Whenever</h2>
      <%= render partial: 'messages/message_preview', 
        collection: @topics["set_aside--whenever"],  
        as: 'topic' %>
    </section>

    <%= render partial: 'partials/bulk_actions_menu' %>
  </div>


</div>
