<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @topic.status %>
</p>


<p>
  <strong>Sticky:</strong>
  <%= @topic.sticky %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
